<h1>Cart</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cart; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.calories }}</td>
            <td>$1.00</td>
            <td><button (click)="removeFromCart(i)">Remove from cart</button></td>
        </tr>
    </tbody>
</table>

<div>
    <p>Total Calories: {{ totalCalories }}</p>
    <p>Total Price: {{ totalPrice | currency }}</p>
    <p>Total Quantity: {{ cart.length }}</p>
</div>